::backdrop{
    background-color: white;
}

.full_screen_chart{
    float: right;
}

.chart_panel{
    
    height: 90vh;
    width: 100%;
    /* backdrop-filter: none; */
    /* max-height: 80px; */

}

.chart_top_layout {
    display: flex;
    width: 100%;
    height: 70%;
    
}

.chart_top_center_divider{
    width: 10px;
    cursor: col-resize;
    align-content: center;
    
}

.chart_top_right_collapse_btn {
    position: relative;
    
    margin-top: 50%;
    z-index: 1;
    font-size: smaller;
}

.chart_top_layout_right {
    position: relative;
    width: 30%;
    background: lightblue;
    min-width: 300px;

}


.chart_top_layout_left {
    background: lightcoral;
    width: 70%;
    min-width: 300px;
    
}

/* Middle div styling */
.chart_middle_divider {
    height: 7px;
    width: 100%;
    cursor: row-resize;
}

.chart_bottom_collapse{
    position: relative;
    z-index: 1;
    font-size: smaller;
    margin-left: 50%;
}


/* Bottom div styling */
.chart_bottom_layout {
    width: 100%;
    background-color: lightgray;
    height: 30%;
    position: relative;
    overflow-y: auto;
}



/* MEDIA QUERY FOR SCREEN WIDTH LESS THAN 600px */
@media only screen and (max-width: 600px) {
    .chart_top_layout {
        flex-direction: column;
        height: 80vh;
        width: 100%;
    }

    .chart_top_layout_left {
        height: 60%;
        width: 100%;
    }

    .chart_top_layout_right{
        height: 40%;
        width: 100%;
    }

    .chart_top_center_divider {
        display: none;
    }
}

#collapseBtn {
    width: 20px;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.3s ease;
}

#collapseBtn:hover {
    background: linear-gradient(135deg, #4caf50, #8bc34a);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

#collapseBtn:active {
    transform: scale(0.95);
}

#collapseBtn:hover::before {
    transform: rotate(90deg);
}

.container{
    width: 100%;
    height: 100%;
    
}

.row {
    box-sizing: content-box;
    overflow: auto;
    width: 100%;
    /* min-height: 90px; */
    /* flex: 1; */
  
}

.row_resizer {
    justify-content: center;
    box-sizing: content-box;
    width: 100%;
    height: 7px;
    background-color: gold;
    display: flex;
    cursor: row-resize;

}

.collapse_btn{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    background: none;
    border: none;
    color: antiquewhite;
    padding: 0;
    transform: scale(1.5,1.5);
    margin-top: 3px;
    cursor: pointer;
}