/* new nav menu code starts here */

.tsrNavMenuCntr {
    position: fixed;
    top: 65px;
    /* height: 100%; */
    z-index: 1000;
    transition: width 0.2s ease-in-out;
    overflow-x: hidden;
    height: 100%;
}

.tsrNavMenuSideBar {
    width: 100%;
    background: linear-gradient(0deg, #09124f 0, #090979 30%, #006fbf 100%);
    text-align: center;
}

.tsrNavMenuSideBar>button {
    position: fixed;
    bottom: 5px;
    left: 15px;
    min-height: 50px;
}

.tsrNavMenuSideBar button:focus {
    box-shadow: none;
}

.tsrNavMenuList {
    list-style: none;
    padding: 0;
    overflow: auto;

}

.tsrNavMenuItem {
    display: flex;
    width: 100%;
    margin: 10px 0px 10px 0;
}

.tsrNavMenuItem .nav-item {
    text-align: center;
    color: white;
    font-weight: 500;
    background: none;
    border: none;
}

.tsrNavMenuItem:hover>button,
.tsrNavMenuItem:hover>a {
    color: yellow;
}

/* .tsrNavMenuItem:focus>button,
.tsrNavMenuItem:focus>a {
    color: yellow;
} */

.tsrNavMenuItem:hover>button svg,
.tsrNavMenuItem:hover>a svg {
    fill: yellow;
    stroke: yellow;
}

.tsrNavSubMenuList {
    display: none;
    list-style: none;
    padding: 0;
    opacity: 0;
    transition: opacity 0.3s, height 0.5s ease-in-out;
    height: auto;
}

.tsrNavSubMenuItem {
    height: 40px;
}

.tsrNavSubMenuItem:hover {
    background: white;
}

.tsrNavSubMenuItem>a {
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.tsrNavSubMenuItem:hover>a {
    color: black;
}


@media only screen and (max-width: 576px) {

    .tsrMobileNavMenu {
        width: 270px !important;
    }

    .tsrNavMenuCntr {
        display: flex;
        width: 0px;
    }

    .tsrNavMenuItem {

        flex-direction: column;
        justify-content: end;
    }

    .tsrNavMenuItem .nav-item {
        display: flex;
        font-size: 16px;
        align-items: center;
    }

    .tsrNavMenuItem>button .icon-holder,
    .tsrNavMenuItem>a .icon-holder {
        width: 15%;
        padding-left: 5%;
    }

    .tsrNavMenuItem>button svg,
    .tsrNavMenuItem>a svg {
        height: 32;
    }

    .tsrNavMenuItem>button .title,
    .tsrNavMenuItem>a .title {
        width: 70%;
        text-align: start;
        margin-left: 10px;
    }

    .tsrNavMenuItem>button .arrow,
    .tsrNavMenuItem>a .arrow {
        width: 10%;
    }

    .tsrNavSubMenuList {
        position: static;
        margin-left: 40px;
        margin-top: 10px;
    }

    .tsrNavSubMenuItem {
        text-align: start;
    }

}

@media only screen and (min-width: 576px) {

    .page-container {
        padding-left: 70px !important;
    }

    .tsrNavMenuCntr {
        display: flex;
        width: 70px !important;
    }

    .tsrNavMenuList {
        /* scrollbar-width: none !important; */
        scroll-behavior: smooth;
    }

    .tsrNavMenuList::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
    }


    .tsrNavMenuItem {
        justify-content: center;
    }

    .tsrNavMenuItem .nav-item {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .tsrNavMenuItem>button svg,
    .tsrNavMenuItem>a svg {
        height: 33;
    }

    .tsrNavMenuItem>button .arrow,
    .tsrNavMenuItem>a .arrow {
        display: none;
    }

    .tsrNavSubMenuList {
        position: fixed;
        left: 70px;
        background: linear-gradient(0deg, #09124f 0, #090979 0%, #006fbf 100%);
        border: 1px solid gray;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        overflow-y: auto;

    }
}


/* code ends here */