.tsrCsFilter {
    text-wrap: nowrap;
    font-size: 16px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    cursor: pointer;
}

.tsrCsFilter:hover {
    background: none !important;
    cursor: default;
}

.tsrCsNgArrowEle {
    position: relative;
    top: 14px;
    height: 3px;
    width: 50px;
    background-color: rgb(13 110 253);
    background-color: #91989e;
    background-color: rgb(108 117 125);
}

.tsrCsNgArrowEle::after,
.tsrCsNgArrowEle::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 25px;
    background-color: rgb(13 110 253);
    background-color: rgb(108 117 125);
    background-color: white;
}

.tsrCsNgArrowEle::after {
    transform: rotate(45deg);
    top: -38px;
}

.tsrCsNgArrowEle::before {
    transform: rotate(-45deg);
    top: -11px;
    left: -5px;
}

.tsrCsNgInstrBox a:hover {
    /* modified*/
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    color: rgb(13 110 253);
    /* box-shadow: 0px 0.1rem 0.1rem 0px rgba(0, 0, 0, .075); */
}

.tsrMoCsCatButton.active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: bold;
}

.miVertDivider {
    align-items: center;
}

.miVertLine {
    border-top: 1px solid #ccc;
    width: 100%;
}

/* NEW CSS starts here */
.tsrCsNgSelect:hover {
    border: 1px solid;
    cursor: pointer;
}

.tsrCsNgMenu.btn {
    color: black;
}

.tsrCsNgMenu.btn:hover {
    background-color: #91989e;
    color: white;
    font-weight: 600;
    transition: 0.1s;
}

.tsrCsNgMenu.btn:focus {
    background-color: #91989e;
    color: white;
    font-weight: 600;
}

/* Overriding bootstrap CSS */
.dropend .dropdown-toggle::after {
    content: unset !important;
}
.dropdown .dropdown-toggle::after {
    content: unset !important;
}


.tsrCsNgTabSubMenu .tsrCsNgFilterBtn {
    color: black;
    cursor: pointer;
    transition: unset;
}

.tsrCsNgTabSubMenu .tsrCsNgFilterBtn:hover {
    /* background-color: #6c757d; */
    background-color: #91989e;
    font-weight: 600;
    color: white;
}