.savePopupWrapper {
    position: absolute;
    box-sizing: content-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6) !important;
    background-color: white;
    z-index: 1;
}

.saveOptionsDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.saveOptionsDiv ul {
    padding: 0 !important;
    margin-bottom: 0;
}

.saveOptionsDiv ul .divider {
    height: 1px;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    padding: 0px !important;
}

.saveOptionsDiv ul li {
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}

.saveOptionsDiv ul li>* {
    padding: 0 10px 0 10px;
    font-size: medium;
}

.saveOptionsDiv ul li:hover {
    background-color: lightgray;
    color: black;
    font-weight: 500;
}

.popupOptions>* {
    width: 100%;
    margin: 0px;
    padding: 0;
    border: none;
    border-radius: 10px;
}

.popupOptions button:hover {
    background-color: #006bbc;
    color: white;
}

/* ul used for showing recently saved settings */
.savedSettingsList {
    padding: 5px;
    margin: 0px;
    list-style-type: none;
}

.savedSettingsListItem > *{
    display: block;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.savedSettingsListItem:hover {
    background-color: #006bbc;
    color: white;
}

::backdrop {
    /* background: rgba(255, 255, 255, 0.75); */
    background-color: rgb(0 0 0 / 32%);
}

:modal {
    border: 1px solid #006bbc;
    border-radius: 28px;
    padding: 0px;
    width: 500px;
}

.modalButtons {
    padding: 50px 10px 20px 10px;
}

.modalButtons>* {
    float: right;
    margin-left: 20px;
}

.modalButtons>*:hover {
    background-color: #006bbc;
    color: white;
}

.settingsOptionContent {
    padding: 25px;
}

.settingsOptionContent table tr td,
th {
    border: 1px solid lightgray;
    text-align: center;
}

.shareSettings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shareSettings>* {
    padding: 10px;
    font-size: 30px;
}

.settingsOptionHeader {
    background-color: #006bbc;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px;
}

.accordion {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.accordionSection {
    /* background-color: lightgray !important; */
    cursor: pointer;
    padding: 20px !important;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: 500;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active{
    background-color: lightgray !important;
}

.accordionSection:hover {
    background-color: lightgray;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    position: relative;
    padding: 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: center;
}

.optionInput {
    height: 48px !important;
    border: 1px solid #c2c7d0!important;
    width: 80% !important;
    padding: 15px !important;
    font-size: 16px !important;
}

.optionInput:focus {
    outline: auto;
}

.optionInput:not(:placeholder-shown) + label,
.optionInput:focus + label {
    top: 5px;
    background-color: white;
    /* padding: 5px 0px 0px 0px; */
}

.panel label{
    position: absolute;
    top: 30px;
    left: 70px;
    color: gray;
    transition: 0.3s;
    pointer-events: none;
}

.panel button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    margin-top: 15px;
}

.panel button:hover {
    background-color: gray;
    color: white;
}

.panel select {
    height: 40px;
    outline: black;
    font-weight: 500;
    width: 60%;
}

.panel select:focus {
    height: 40px;
    outline: 2px solid black;
    
}
.panel select option {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}



.toastNotification {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: green;
    font-weight: 500 ;
    padding: 10px 20px;
    /* margin-top: 10px; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.5s ease-out;
    min-width: 50px;
    font-size: 14px;
    position: relative;
}

/* Slide-in animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.toastNotification span {
    font-size: 18px;
}

/* Close button */
.toastNotification .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.toastNotification .close-btn:hover {
    color: #ff5c5c;
}

