.ch_multi_charts_popup {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 350px;
    height: 425px;
    z-index: 999;
    box-shadow: 0px 0px 5px black !important;
    overflow: hidden;
    background-color: white;
    margin-top: 10px;
}

/* * Used in saved Settings indicator */
.ch_mch_settingsOptionHeader {
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 5px;
    align-items: center;
}

.ch_mch_settingsOptionHeader span {
    cursor: pointer;
}

.ch_mch_compare_options {
    display: flex;
    border-bottom: 1px solid gray;
}

.ch_mch_compare_options button {
    width: 100%;
    border: none;
    border-right: 1px solid white;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.ch_mch_compare_options .ch_mch_active,
.ch_mch_compare_options button:hover {
    background-color: gray;
    color: white;
}

.ch_mch_compare_chart_form > *{
    margin: 10px;
    display: flex;
}

.ch_view_options_wrapper > * {
    margin: 5px;
    white-space: nowrap;
}

.ch_mch_compare_view_options {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ch_mch_compare_view_options button {
    width: 100%;
    border: none;
    border-right: 1px solid #ccc;
    border-radius: 0px;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative;
}

.ch_mch_compare_view_options button.selected {
    background-color: lightgray;
    color: black;
}

.ch_mch_compare_view_options button.selected::before {
    content: '\2714' ; 
    left: 0px;
    right: 5px;
    font-size: 16px;
    margin-right: 5px;
}

.ch_mch_compare_search_stock {
    position: relative;
    align-items: center;
}

.ch_mch_compare_search_stock > * {
    padding: 5px;
}

.ch_mch_compare_search_stock input {
    height: 36px;
    border: 1px solid #c2c7d0;
    padding: 0px 0px 0px 15px;
    font-size: 15px;
}

.ch_mch_compare_search_stock input:focus {
    outline: auto;
}

.ch_mch_compare_settings > * {
    width: 100%;
    padding: 5px;
}

.ch_mch_compare_charts_per_row {
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
}

.ch_mch_compare_charts_per_row input {
    border: 1px solid #c2c7d0;
}

.ch_mch_compare_charts_per_row input:focus {
    outline: auto;
}

.ch_mch_compare_show_axis {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ch_mch_compare_stocks_added {
    flex-direction: column;
    padding: 5px;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* .ch_compare_ticks_wrapper {
    display: flex;
    flex-direction: column;
} */

.ch_mch_compare_tick_row {
    font-size: 15px;
}

.ch_mch_compare_tick_row button {
    border: none;
    width: 100%;
}

.ch_mch_compare_tick_row button:hover {
    background-color: lightgray;
    color: black;
}

.ch_mch_compare_tick_row button.selected {
    background-color: lightgray;
    color: black;
}

.ch_mch_compare_tick_row button.selected::before {
    content: '\2714' ; 
    left: 0px;
    right: 5px;
    font-size: 16px;
    margin-right: 5px;
}

